<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<handlers>
			<remove name="ChartImageHandler"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<appSettings>
		<add key="httpPathStr" value="http://www.jnydkj.com"/>
		<add key="Wbsserviceadd" value="rtmp://v.dou6.com/oflaDemo"/>
		<!-- 单次的提交量最大量限制5000 -->
		<add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
		<!-- 数据库连接字符串-->
		<add key="ConnectionString" value="server=localhost;database=yz_djxt;uid=sa;pwd=123"/>
		<add key="Prize_Yes" value="是"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<httpRuntime maxRequestLength="1024000" executionTimeout="60000" appRequestQueueLimit="100"/>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。
        -->
		<customErrors mode="Off" defaultRedirect="500.htm">
			<error statusCode="500" redirect="500.htm"/>
			<error statusCode="403" redirect="500.htm"/>
			<error statusCode="404" redirect="404.htm"/>
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
	</system.web>
	<!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="Winsoft.Web.Ajax.AjaxServiceAspNetAjaxBehavior">
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<services>
			<service name="Winsoft.Web.Ajax.AjaxService">
				<endpoint address="" behaviorConfiguration="Winsoft.Web.Ajax.AjaxServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Winsoft.Web.Ajax.AjaxService"/>
			</service>
		</services>
		<bindings/>
		<client/>
	</system.serviceModel>
</configuration>
